@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* shared styles */
* {
    margin: 0;
    padding: 0;
    font-family: Work Sans;
}

.btn-primary {
    background-color: #FF900E;
    border-radius: 8px;
    padding: 20px 25px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600px;
    cursor: pointer;
    border: none;
    margin-top: 32px;

}

/* header styles */

header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 32px;
    font-weight: 500px;
    font-size: 1rem;

}

nav li a {
    text-decoration: none;
    color: var(--Dark-02, #424242);
    font-weight: 500px;
    line-height: 26px;
}

.section-title {
    font-size: 3rem;
    font-weight: 700px;
    color: #131313;
}

/* banner styles */
.banner-text {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    font-weight: 700px;
    font-size: 65px;
    color: var(--Dark-01, #131313);
    ;
}

.text-light-gray {
    color: var(--Dark-03, #727272);
    font-size: 16px;
    line-height: 26px;
    margin-top: 24px;

}

.banner img {
    margin-top: 25px;
    width: 100%;
}

/* main  styles */
main {
    max-width: 1440px;
    margin: 70px auto;

}

/* teams style */
.teams-container {
    display: flex;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;

}

.teams-content-text {
    padding-right: 70px;
    padding-left: 70px;
    margin-top: 285px;
}

.teams-title {
    font-size: 45px;
}

.quick-list {
    color: var(--Dark-03, #727272);
    font-weight: 500px;
}

.of-our {
    color: var(--Dark-01, #131313);
    font-weight: 700px;
}

.features {
    color: #FF900E;
    font-weight: 700px;
}

.teams-description {
    margin-top: 24px;
    color: var(--Dark-03, #727272);
    font-size: 16px;
    font-weight: 400px;
    line-height: 26px;
E
}
/* feature section style */
.features{
    display: flex;
    margin-top: 130px;
    gap: 120px;

}
.features .section-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.feature-content .card{
    padding: 30px;
    border-radius: 20px;
    background-color: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
}
.footer-img img{
    height: 90px;
    margin-left: 50px;
}
.ten-years-budge{
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    width: 320px;
    padding: 40px;
    text-align: center;
    position: relative;
    bottom: 100px;

}
.ten-years-budge h2{
    font-size: 4rem;
    margin: 0;
}
.ten-years-budge p{
    font-size: 1.5rem;
}

/* facts section */
.facts-card-container {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}
.features .section{
    border-left: 5pxc solid #FF;
}

.facts-card-container .card {

    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px 30px;

}

.facts-card-container .card-title {
    font-weight: 600px;
    font-size: 1.25em;
    ;
    margin-top: 5px;
}

.facts-card-container .card-stats {
    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* footer section sponsors section  */
footer {
    max-width: 1440px;
    margin: 70px auto;
}

.footer-text {
    text-align: center;
}

.footer-img img {5
    margin-top: 50px;
    justify-content: space-between;
    margin-right: 115px;
    mix-blend-mode: luminosity;
}
.footer-img{
    margin-top: 50px;
    display: flex;
}

.footer-last {
    background-color: #FFF4E7;
    height: 100px;
    margin-top: 130px;
}

.footer-p {
    padding: 39px 410px;
}




/* responsive media  */
/* mobile device */
@media screen and (max-width:576px) {
    header {
        padding: 20px;
    }

    nav,
    .teams-container,
    .features,
    .facts-card-container,
    .footer-img {
        flex-direction: column;
    }
       .footer-img img{
        width: 100%;
        margin-left: 0;

       }
    .teams-img-container {
        grid-template-columns: 1fr;
    }
    .ten-years-budge{
        position: static;
        max-width: 300px;

    }
    .teams-content-text, .facts-card-container {
        padding-right: 70px;
        padding-left: 70px;
    }
   .facts-card-container{
    gap: 20px;
   } 

}

/* tablet or medium device */
@media screen and (min-width:576px) and (max-width : 960px) {
    header {
        padding: 50px;

    }

    nav,
    .features,
    .teams-container,
    .sponsors-img-container {
        flex-direction: column;
    }
}