@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* shared styles */
* {
    margin: 0;
    padding: 0;
    font-family: Work Sans;
}

.btn-primary {
    background-color: #FF900E;
    border-radius: 8px;
    padding: 20px 25px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600px;
    cursor: pointer;
    border: none;
    margin-top: 32px;

}

/* header styles */

header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 32px;
    font-weight: 500px;
    font-size: 1rem;

}

nav li a {
    text-decoration: none;
    color: var(--Dark-02, #424242);
    font-weight: 500px;
    line-height: 26px;
}

.section-title {
    font-size: 3rem;
    font-weight: 700px;
    color: #131313;
}

/* banner styles */
.banner-text {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    font-weight: 700px;
    font-size: 65px;
    color: var(--Dark-01, #131313);
    ;
}

.text-light-gray {
    color: var(--Dark-03, #727272);
    font-size: 16px;
    line-height: 26px;
    margin-top: 24px;

}

.banner img {
    margin-top: 25px;
    width: 100%;
}

/* main  styles */
main{
    max-width: 1440px;
    margin:70px auto ;
    
}
/* teams style */
.teams-container{
    display: flex;
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
    
}
.teams-content-text{
    padding-right: 70px;
    padding-left: 70px;
    margin-top: 285px;
}
.teams-title{
 font-size: 45px;
}
.quick-list{
   color:  var(--Dark-03, #727272);
    font-weight: 500px;
}
.of-our{
    color: var(--Dark-01, #131313);
    font-weight: 700px;
}
.features{
    color: #FF900E;
   font-weight: 700px;
}
.teams-description{
  margin-top: 24px;
  color: var(--Dark-03, #727272);
  font-size: 16px;
  font-weight: 400px;
  line-height: 26px;

}
/* facts section */
.facts-card-container{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}
.facts-card-container .card{

    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px 30px;

}
.facts-card-container .card-title{
    font-weight: 600px;
    font-size: 1.25em; ;
    margin-top: 5px;
}
.facts-card-container .card-stats{
    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}







/* responsive media  */
/* mobile device */
@media screen and (max-width:576px) {
    header {
        padding: 20px;
    }

    nav,
    .teams-container {
        flex-direction: column;
    }
    .teams-img-container{
        grid-template-columns: 1fr;
    }
    .teams-content-text{
        padding-right: 70px;
        padding-left: 70px;
    } 
}

/* tablet or medium device */
@media screen and (min-width:576px) and (max-width : 960px) {
    header {
        padding: 50px;

    }

    nav, .teams-container {
        flex-direction: column;
    }
}

